body {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.search-container {
  position: relative;
  width: 100%;
}
.search-input {
  width: 100%;
  padding: 20px;
  font-size: 18px;
}
.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 2px solid #ccc;
  max-height: 500px;
  overflow-y: auto;
  z-index: 1000;
}
.suggestion {
  padding: 10px;
  cursor: pointer;
}
.suggestion:hover {
  background-color: #ccc;
}
.no-results {
  padding: 20px;
  color: gray;
  text-align: center;
}
.language-selector {
  margin-bottom: 15px;
}
.language-selector label {
  margin-right: 10px;
}

.entity-table {
  border-collapse: collapse;
  width: 100%;
}

.entity-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  table-layout: fixed; /* Ensures fixed layout for width distribution */
}

.entity-table th, .entity-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.entity-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.name-iri-column {
  width: 60%;
  word-wrap: break-word;
  white-space: normal;
}

.types-column {
  width: 40%;
  word-wrap: break-word;
  white-space: normal;
}
